Hermes site files/n8n-workflows/route-email-outreach.json
{
  "name": "Mailhouse Media - Route-Based Email Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id as route_id, r.route_number, r.zip_code, r.spaces_available, c.name as city, c.state_code FROM routes r JOIN cities c ON r.city_id = c.id WHERE r.status IN ('available', 'filling') AND r.spaces_available > 0 AND c.status = 'active' ORDER BY r.priority DESC LIMIT 5",
        "options": {}
      },
      "id": "get-active-routes",
      "name": "Get Routes Needing Outreach",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID", "name": "Supabase" }
      }
    },
    {
      "parameters": {
        "jsCode": "// For each route, get new prospects that haven't been contacted\nconst routes = $input.all().map(item => item.json);\nconst tasks = [];\n\nfor (const route of routes) {\n  tasks.push({\n    json: {\n      route_id: route.route_id,\n      route_number: route.route_number,\n      zip_code: route.zip_code,\n      spaces_available: route.spaces_available,\n      city: route.city,\n      state: route.state_code\n    }\n  });\n}\n\nreturn tasks;"
      },
      "id": "prepare-route-tasks",
      "name": "Prepare Route Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "find",
        "table": "prospects",
        "filterType": "combine",
        "filterConditions": {
          "conditions": [
            { "column": "route_id", "value": "={{ $json.route_id }}" },
            { "column": "status", "value": "new" },
            { "column": "outreach_count", "value": 0 }
          ]
        },
        "returnAll": true,
        "options": { "limit": 10 }
      },
      "id": "get-prospects-for-route",
      "name": "Get New Prospects for Route",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID", "name": "Supabase" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate personalized email for each prospect\nconst prospects = $input.all();\nconst routeInfo = $('Prepare Route Tasks').first().json;\n\nconst emails = prospects.map(item => {\n  const p = item.json;\n  const firstName = p.contact_name ? p.contact_name.split(' ')[0] : 'Business Owner';\n  const bizName = p.business_name;\n  const city = routeInfo.city;\n  const routeNum = routeInfo.route_number;\n  const zip = routeInfo.zip_code;\n  const spacesLeft = routeInfo.spaces_available;\n  \n  const subject = `Quick question about ${bizName}`;\n  \n  const body = `Hey ${firstName},\n\nI'm putting together a community mailer for ${city} — specifically for the ${zip} area (Route ${routeNum}). It's a large 9x12 postcard that goes to every single doorstep in that postal route via USPS.\n\nWe're offering local businesses in ${zip} a chance to get their ad in front of thousands of households for a fraction of what normal advertising costs.\n\nThe mailer hits ${city} homes directly — no digital scrolling, no ad blockers, just real people seeing your business in their hands.\n\nWe have ${spacesLeft} ad spaces left for Route ${routeNum} and I wanted to give ${bizName} first shot at one before we fill up.\n\nInterested in hearing more? Just reply to this email and I'll send over the details.\n\n— Ryan Harrell\nMailhouse Media\n(910) XXX-XXXX`;\n\n  return {\n    json: {\n      prospect_id: p.id,\n      route_id: routeInfo.route_id,\n      to_email: p.email,\n      to_name: p.contact_name || bizName,\n      business_name: bizName,\n      subject: subject,\n      body: body,\n      sequence_step: 1,\n      city: city,\n      route_number: routeNum,\n      zip_code: zip\n    }\n  };\n});\n\nreturn emails;"
      },
      "id": "generate-email",
      "name": "Generate Email (Step 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "hello@mailhousemedia.com",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {
          "replyTo": "hello@mailhousemedia.com"
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "smtp": { "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID", "name": "SMTP" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "prospects",
        "id": "={{ $item(-2).json.prospect_id }}",
        "fields": {
          "status": "contacted",
          "outreach_count": 1,
          "last_outreach_at": "={{ new Date().toISOString() }}"
        }
      },
      "id": "update-prospect",
      "name": "Update Prospect Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID", "name": "Supabase" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "outreach_log",
        "fields": {
          "prospect_id": "={{ $item(-3).json.prospect_id }}",
          "route_id": "={{ $item(-3).json.route_id }}",
          "channel": "email",
          "sequence_step": "={{ $json.sequence_step }}",
          "subject": "={{ $json.subject }}",
          "body": "={{ $json.body }}",
          "status": "sent"
        }
      },
      "id": "log-outreach",
      "name": "Log Outreach",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "supabaseApi": { "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID", "name": "Supabase" }
      }
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[{ "node": "Get Routes Needing Outreach", "type": "main", "index": 0 }]] },
    "Get Routes Needing Outreach": { "main": [[{ "node": "Prepare Route Tasks", "type": "main", "index": 0 }]] },
    "Prepare Route Tasks": { "main": [[{ "node": "Get New Prospects for Route", "type": "main", "index": 0 }]] },
    "Get New Prospects for Route": { "main": [[{ "node": "Generate Email (Step 1)", "type": "main", "index": 0 }]] },
    "Generate Email (Step 1)": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] },
    "Send Email": { "main": [[{ "node": "Update Prospect Status", "type": "main", "index": 0 }]] },
    "Update Prospect Status": { "main": [[{ "node": "Log Outreach", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Route-aware email outreach. Runs daily, picks top 5 routes with available spaces, sends Step 1 email to 10 new prospects per route. Emails are personalized with route/zip info.",
    "sequence": [
      "Step 1 (Day 0): Intro email — route-specific",
      "Step 2 (Day 3): Social proof — 'X businesses in your area already signed up'",
      "Step 3 (Day 8): Urgency — 'Only X spaces left in Route Y'"
    ],
    "requirements": [
      "SMTP credentials configured in n8n",
      "Supabase credentials configured",
      "Routes and prospects must exist in database"
    ]
  }
}
